#header {
	margin-top:0px;
	margin-bottom:0px; 
	margin-left: auto;
	margin-right: auto;
	background-color:yellow;
	width:70%; 
	height:60px;
}

h1 {
	color:black;
	text-align: center;
	font-size: 50px;
	padding:5px;
}

#signin {
	float: right;
	margin-right: 2px;
	font-weight: bold;
	font-size: 20px;
	background-color: red;
}

h3 {
	color:red;
	font-size:20px;
}

#body {
	width:70%;
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;
}

h2 {
	color:red;
	font-size:25px;
}

#about {
	margin-top:0px;
	margin-bottom:0px; 
	margin-left: auto;
	margin-right: auto;
	color: black;
	padding: 5px;
}

#surveys {
	margin-top:0px;
	margin-bottom:0px; 
	margin-left: auto;
	margin-right: auto;
	color: black;
	padding: 5px;
}
